:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;;
    --card-back-color: #00f48f;
}



body{
    background: url(img/decantalara\ tchunai\,\ arabassu\ barassu\ barachai.avif);
    font-family: bai jamjuree;
}

#container{
    display: flex;
}

.cart達o{
    margin: 1rem 1rem;
    background: var(--card-front-color);
    height: 10rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}

.cart達o__conteudo{
    text-align: center;
    height: 100%;
}

.cart達o__conteudo h3{
    color: var(--text-color);
    border: 5px solid var(--text-color);
    text-align: left;
    padding: 0,5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    
}

.cartao__conteudo__pergunta {
    color: var(--text-color);
    font-weight: 600;
}

.cart達o__conteudo__resposta {
    color: var(--card-back-color);
}

footer{
    background-color: rgb(208, 250, 250);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

footer p{
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.6rem;
}

